<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.martin.boot.repository.LoginMapper" >


    <select id="selectByPrimaryKey" resultType="cn.martin.boot.entity.Login">
        select * from tlogin where uuid=#{uuid}
    </select>

</mapper>